<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <h1>{name} {surname}</h1>
    <p>Who are you? {name}!</p>
    <p>My name is {name} {surname}, i {profession} and i'am {age} years old!</p>
</body>
</html>